@font-face {
  font-family: roboto;
  src: url(./roboto.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: roboto;
  display: flex;
  align-items: center;
  justify-content: center;
}

header,
footer {
  position:fixed;
  font-size:2rem;
  font-weight:bold;
}
header {
  top: 1.25rem;
}
footer {
  bottom: 1.25rem;
}

button {
  padding: 1rem 1.5rem;
  font-size: .7rem;
  width: 8rem;
  margin: 1rem;
}

#btn_grp_init {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#seats {
  display: none;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  position:fixed;
  top:3rem;
  left:0;
  width:100vw;
  height:100vh;
  padding:2rem;
}
#seats>div {
  display:flex;
  align-items: center;
  justify-content: center;
  border:2px solid #111;
  border-radius:1rem;
}

#groups {
  display: none;
}

#select_class {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
#select_class>div {
  font-size: 2rem;
  padding:1rem 2rem;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}