@font-face {
  font-family: roboto;
  src: url(./roboto.ttf);
}
* {
  box-sizing: border-box;
  margin:0;
}
body {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  font-family: roboto;
  display:flex;
  align-items: center;
  justify-content: center;
}
button {
  padding:1rem 1.5rem;
  font-size:.7rem;
  width:8rem;
  margin:1rem;
}